@import 'common/mixins';


html {
  /*font-size: 16px;*/
  //font-size: 1.6vmin;
  font-size: 2vmin;
  /*font-size: 1.685vmin;*/
  overflow-x: hidden;

  @include pc {
    /*font-size: 16px; */

  }
  @include tablets {
    /* font-size: 14px; */
    font-size: 1.685vmin;
  }
  @include iphone {
    font-size: 12px;

  }
}

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #ffffff;
  font-family: 'PT Serif', serif;
  width: 100%;
  height: 100%;
  font-style: normal;
  overflow: hidden;
}

#fullContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

}

#topMenu {
  width: 100%;
  position: absolute;
  z-index: 100;
  height: 85px;
  font-family: 'PT Sans', sans-serif;

}

#delimiter {
  width: 2px;
  height: 0%;
  background: #d2242b;
  margin: 0 6px;
  position: absolute;
  left: 65px;
}

#topMenu_inn {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 85px;
  width: 80%;
  margin: 0 auto;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#topMenu_block {
  background: #ffffff;
  margin-top: -125px;
}

.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#header_logo {
  color: #20a91b;
  font-size: 54px;
  font-weight: 600;
  padding-right: 20px;
  margin-top: -50px;
  opacity: 0;
}

#header_logo_block {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#header_slogan {
  color: #20a91b;
  font-size: 22px;
  line-height: 18px;
  margin-left: -50px;
  opacity: 0;
}

#header_nav__items, #header_nav__lang {
  list-style-type: none;
  margin: 0;
}

#header_nav__lang {
  width: 75px;
  position: relative;
  height: 21px;
}

#header_nav__lang li {
}

#lang_ru {
  opacity: 0;
  right: 35px;
  position: absolute;
}

#lang_ukr {
  opacity: 0;
  position: absolute;
  right: 15px;
}

#header_nav__items li a, #header_nav__lang li a {
  color: #6d6e71;
  font-size: 19px;
  text-decoration: none;
  display: block;
  position: relative;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
#leftMenu {
  position: fixed;
  width: 140px;
  left: 0%;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;    z-index: 20;
}
#line_menu_items {
  margin-top: 85px;
}

.menu_items {
  text-align: right;
  margin-right: 20px;
  position: absolute;
  opacity: 0;
  cursor: pointer;

}
.menu_items__inn{position: relative;}
.menu_items span { opacity: 0;transition: all 0.3s ease-in-out;
  margin-right: 30px;
  display: block;    width: 110px;
}
#menu_item_1{    top: 155px;
  right: -20px;}
#menu_item_2{    top: 227px;
  right: -1px;}
#menu_item_3{     top: 306px;
  right: 1px;}
#menu_item_4{    top: 375px;
  right: -21px;}
#menu_item_5{    top: 449px;
  right: -17px;}
#menu_item_6{    top: 530px;
  right: 5px;}
#menu_item_7{    top: 630px;
  right: 5px;    opacity: 1;}
#menu_item_7 span{    margin-right: 40px;transition: all 0.5s 1.0s ease-in-out;}
#menu_item_7 span.show{ opacity: 1;}
.bulls {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  right: 0;
}

.circ_sm {
  width: 5px;
  height: 5px;
  background: #ffffff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}
.circ_bg {
  width: 1px;
  height: 1px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}
.menu_items.active span{opacity: 1; text-transform: uppercase;}
.menu_items:hover span{opacity: 1;}
.menu_items:hover .circ_bg{opacity: 1; width: 17px;height: 17px;}
.menu_items:hover .circ_sm{width: 8px;height: 8px;}
#line_menu_svg {
  width: 50px;
  height: 695px;
}

#line_menu {
  position: absolute;
  right: 0;    top: 45px;
}

#header_nav__items li {
  margin-right: 20px;
  margin-left: 20px;
  /* width: 105px;*/
}

#header_nav__items li a:after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: #d9454b;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  bottom: -5px;
  transition: all 0.3s ease-in-out;
}

#nav_item1 {
  margin-top: -30px;
  opacity: 0;
}

#nav_item2 {
  margin-top: -30px;
  opacity: 0;
}

#nav_item3 {
  margin-top: -30px;
  opacity: 0;
}
#button_share{    width: 30px; opacity: 0;
  height: 30px;
  position: fixed;    z-index: 100;
  top: 50%;
  right: 2%;}
#button_share_inn{cursor: pointer;    position: absolute;width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);    overflow: hidden;
  transition: all 0.3s ease-in-out;}
#button_share_svg{ width: 100%;height: 100%;}
#button_share_inn:hover{width: 40px;height: 40px;}
#scroll_down {
  cursor: pointer;
  transition: all 700ms ease;
  position: absolute;
  bottom:8%;
  width: 70px;
  z-index: 20;
  height: 70px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
#scroll_down_inn{
  //bottom: -120%;
  opacity: 0;
  position: relative;}
#scroll_down.hide{display: none;}
#sc_circle{    border: 1px dotted #ffffff;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;}
#sc_circle_pulse{ border: 1px solid #ffffff;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: pulse 1.5s 0.5s infinite;
  -moz-animation: pulse 1.5s 0.5s infinite;
  -ms-animation: pulse 1.5s 0.5s infinite;}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
    width: 90px;
    height: 90px;
  }
  10% {
    opacity: 0.5;
    width: 100px;
    height: 100px;
  }
  70% {
    opacity: 0;
    width: 130px;
    height: 130px;
  }
  100% {
    opacity: 0;
    width: 130px;
    height: 130px;
  }
}
@-moz-keyframes pulse {
  0% {
    opacity: 0;
    width: 90px;
    height: 90px;
  }
  10% {
    opacity: 0.5;
    width: 100px;
    height: 100px;
  }
  70% {
    opacity: 0;
    width: 130px;
    height: 130px;
  }
  100% {
    opacity: 0;
    width: 130px;
    height: 130px;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
    width: 90px;
    height: 90px;
  }
  10% {
    opacity: 0.5;
    width: 100px;
    height: 100px;
  }
  70% {
    opacity: 0;
    width: 130px;
    height: 130px;
  }
  100% {
    opacity: 0;
    width: 130px;
    height: 130px;
  }
}


#scroll_down:hover #sc_circle {
  width: 70px;
  height: 70px;
}
#mouse_icon{      height: 35px;
  border: 1px solid #ffffff;
  display: block;
  margin: 0;
  border-radius: 14px;
  width: 20px;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, -50%);
  top: 50%;
  position: absolute;}
#devider_ln {
  width: 1px;
  height: 0;
  background: #ffffff;
  margin: 5px auto;
  -webkit-animation: slidea 1s alternate infinite;
  -moz-animation: slidea 1s alternate infinite;
  -ms-animation: slidea 1s alternate infinite;
  transition-delay: 1.4s;
  position: absolute;
  left: 9.45px;
  bottom: 0;
  top: 0;
}

@-webkit-keyframes slidea {
  from {
    height: 0
  }
  to {
    height: 10px
  }
}
@-moz-keyframes slidea {
  from {
    height: 0
  }
  to {
    height: 10px
  }
}
@keyframes slidea {
  from {
    height: 0
  }
  to {
    height: 10px
  }
}

#icons_geo{width: 30px;
  height: 30px;
  position: absolute;
  right: -13px;
  top: 5px;
}
#geo_circ{    position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border: 0px solid #ffffff;
  border-radius: 100%;
  transition: all 1.5s cubic-bezier(0.600, -0.330, 0.185, 1.610);
}
#geo_circ_hov{position: absolute;display: none;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  opacity: 0.4;transition: all 0.5s ease-in-out;}
#menu_item_7:hover #geo_circ_hov{  width: 80px;
  height: 80px; opacity: 0}
#geo_circ.show{width: 50px;height: 50px;border: 1px solid #ffffff;}
#icons_geo_svg{ width: 30px;height: 30px;   left: 50%;position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);}
/*.geo{fill:#21a91c;}*/
.geo{fill:#ffffff;transition: all 1.5s ease-in-out;transform: scale(0);
  transform-origin: center;}
.korz{fill:none;stroke:#36afae;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;transition: all 1.5s 1.2s ease-in-out;
}
#icons_geo.show .geo{transform: scale(1);}
#icons_geo.show .korz{stroke-dashoffset: 0;}
#header_nav__items li a:hover {
  color: #4154a5;
}

#header_nav__items li a:hover:after {
  width: 100%;
}

#header_nav__lang li.active a {
  color: #4154a5;
}

#animfon {
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  overflow: hidden;
}

#animation_container {
  /*width:1920px;*/
  /*height:1080px;*/
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 10;

}

#canvas {
  /* height: 100%;*/width: 100%;
  transform: translate3d(-50%, -50%, 0px)!important;    left: 50%;
  top: 50%;
  /*top: calc(50% + 85px);*/
  transition: all 1s ease-in-out;
}
#canvas.view{top: calc(50% + 85px);}

.section {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}
#section1{overflow: hidden;}
.section.active {
  display: block;
  z-index: 11;
}

.item_sl1 {
  width: 40%;
  z-index: -1;
  left: 14%;
  top: 42%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  position: absolute;
}

h1 {
  font-size: 42px;
  font-weight: normal;
  font-family: 'PT Sans', sans-serif;
  color: #ffffff;
}

#sec3, #sec4, #sec4_half, #sec4_half_2, #sec5, #sec5_half, #sec6, #sec7 {
  color: #3c8e5b;
  opacity: 0;
  width: 50%;
  z-index: -1;
  left: 10%;
  top: 50%;
  position: absolute;
}
#sec2{opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;}
#sec3{
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
}
#sec5{
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
}
/* section 1  */
.ftext {
  margin-top: 50px;
  opacity: 0;
}

.ftext h1 {
  text-transform: uppercase;
  background: -webkit-linear-gradient(left, #7aefb7, #7ae7e9 33.3%, #ffffff 66.6%, #ffffff);
  background-size: 300% 100%;
  background-position: right 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  -webkit-transition: background 2.5s ease;
  transition: background 2.5s ease;
  color: #fff;
}
.ftext.active h1{background-position: left 0;}
.fbutt {
  position: absolute;
  width: 310px;
  height: 65px;
  opacity: 0;
  margin-top: 50px;
  border-radius: 35px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}
#fbutt_cont{    position: absolute;
  width: 306px;
  height: 60px;
  border: 2px solid #ffffff;
  border-radius: 35px;}
#btn_contur {
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: absolute;
  z-index: -1;
  bottom: -100%;
  transition: all 0.3s ease-in-out;
}

#btn_text {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}

.line_menu_sv {
  clip-path: url(#line_menu_2_);
  fill: url(#line_menu_3_);
}

#btn_text p {
  opacity: 0;
  margin-top: 30px;
  margin-bottom: 0;
}

#btn_text p span {
  transition: all 0.3s ease-in-out;
}

#btn_str_svg {
  transition: all 0.3s ease-in-out;
}

.fbutt:hover #btn_contur {
  bottom: 0%;
}

.fbutt:hover #btn_text p span {
  color: #3c8e5b;
}

.fbutt:hover #btn_str_svg {
  stroke: #3c8e5b;
}

#btn_str {
  width: 10px;
  position: absolute;
  top: 36%;
  opacity: 0;
  right: 30%;
}

#block_first {
  width: 445px;
}

.ftext.active {
  background-position: left 0;
}

#pharm_union {
  width: 100px;
  position: absolute;
  opacity: 0;
  right: 9%;
  bottom: 0%;
}

/* block 2 */
#ftext_2{opacity: 0; margin-top: 50px;    position: absolute;
  left: 13%;}
#diraman{    left: 15%;
  width: 254px;
  height: 240px;
  position: absolute;
  top: 45%;}
#dira{width:254px;height:240px;position:absolute;}
#man{width:180px;height:120px;position:absolute;top:80px;left:40px;transform:scale(0);}

#dir1_big, #dir1_med, #dir1_small{
  transform-origin:center;
  transform:scale(0);
}

#dir2_big, #dir2_med, #dir2_small{
  transform-origin:center;
  transform:scale(0);
}


#ftext_2 h1{text-transform: uppercase;
  background: -webkit-linear-gradient(left, #e43e43, #fb8d3a 33.3%, #ffffff 66.6%, #ffffff);
  background-size: 300% 100%;
  background-position: left 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  -webkit-transition: background 2.5s ease;
  transition: background 2.5s ease;
  width: 430px;position: absolute;
  display: block;
  top: 100px;    left: 14%;
  color: #fff;}

/* icon 3_1 */

#icons_1{    width: 125px;
  height: 125px;
  position: absolute;
  top: 34%;
  left: 41%;}
#icon_1_txt{
  font-size: 16px;
  color: #0b5a6d;
  position: absolute;
  top: 35%;
  left: -100%;
  z-index: -1;
  text-align: right;
}
#icon_1_txt_inn{opacity: 0;}

//.icon_3_1_filtr{filter:url(#Filter_0);}

.icon_3_1_fill{fill:#FFFFFF;filter: url(#Filter_2);}

.icon_3_1_ov{opacity:0.3;fill:url(#SVGID_15_);}

.ic_3_1_st3{fill:none;stroke:url(#SVGID_15_);stroke-width:2.0245;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.ic_3_1_st4{fill:none;stroke:url(#SVGID_15_);stroke-width:2.0245;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

.ic_3_1_st5{fill:none;stroke:url(#SVGID_15_);stroke-width:1.955;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

.ic_3_1_st6{fill:none;stroke:url(#SVGID_15_);stroke-width:2.0245;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.ic_3_1_st7{fill:none;stroke:url(#SVGID_15_);stroke-width:2.0245;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.ic_3_1_st8{fill:none;stroke:url(#SVGID_15_);stroke-width:2.0245;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

.ic_3_1_st11{fill:none;stroke:url(#SVGID_15_);stroke-width:2.0245;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.ic_3_1_st12{fill:none;stroke:url(#SVGID_15_);stroke-width:2.0245;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.ic_3_1_st13{fill:none;stroke:url(#SVGID_15_);stroke-width:2.0245;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.ic_3_1_st14{fill:none;stroke:url(#SVGID_15_);stroke-width:2.0245;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.ic_3_1_st15{fill:none;stroke:url(#SVGID_15_);stroke-width:2.0245;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.ic_3_1_st16{fill:none;stroke:url(#SVGID_15_);stroke-width:2.0245;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.ic_3_1_st17{fill:none;stroke:url(#SVGID_15_);stroke-width:2.0245;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.ic_3_1_st18{fill:none;stroke:url(#SVGID_15_);stroke-width:2.0245;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.ic_3_1_st19{fill:none;stroke:url(#SVGID_15_);stroke-width:2.0245;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

.ic_3_1_st16{    transition: all 1.7s 0.8s ease-in-out;
  stroke-dasharray: 250;
  stroke-dashoffset: 250;}
.ic_3_1_st17, .ic_3_1_st18, .ic_3_1_st6, .ic_3_1_st5, .ic_3_1_st11, .ic_3_1_st12, .ic_3_1_st13, .ic_3_1_st14, .ic_3_1_st15, .ic_3_1_st18{    transition: all 1s 0.8s ease-in-out;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;}
.ic_3_1_st8{    transition: all 1.5s 0.8s ease-in-out;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;}
.ic_3_1_st13, .ic_3_1_st4, .ic_3_1_st7, .ic_3_1_st3, .ic_3_1_st19{transition: all 1s 0.8s ease-in-out;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;}

.icon_3_1_ov{opacity:0;transition: all 1s 0.8s ease-in-out;}


.icon_3_1_fill{ transform-origin: center center;transform: scale3d(0, 0, 0);}
#gr{ transform-origin: center center;transform: scale3d(0, 0, 0);}


#ic_1_1.active #icon_3_1 #ic_3_1_inn{stroke-dashoffset: 0;}
#ic_1_1.active #icon_3_1 .icon_3_1_fill{  animation-name: bounceIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}
#ic_1_1.active #icon_3_1 #gr{  animation-name: bounceIn;
  animation-duration: 1s;
  animation-delay: 0.35s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}

#ic_1_1.active #icon_3_1 .ic_3_1_inn_op{opacity: 0.3;}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  40% {
    opacity: 1;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }
  70% {
    -webkit-transform: scale3d(0.85, 0.85, 0.85);
    transform: scale3d(0.85, 0.85, 0.85);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  40% {
    opacity: 1;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }
  70% {
    -webkit-transform: scale3d(0.85, 0.85, 0.85);
    transform: scale3d(0.85, 0.85, 0.85);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* icon 3_1 * end */

/* icon 3_2 */
#icons_2{       width: 150px;
  height: 125px;
  position: absolute;
  top: 27%;
  left: 56%;}
#icon_2_txt{
  font-size: 16px;
  color: #0b5a6d;
  position: absolute;
  top: 38%;
  right: -60%;
  z-index: -1;
  text-align: left;
}
#icon_2_txt_inn{opacity: 0;}

.icon_3_2_st0{filter:url(#Filter_1);}
.icon_3_2_st1{fill:#FFFFFF;}
.icon_3_2_st2{fill:none;stroke:url(#SVGID_ic3-2_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_2_st3{fill:none;stroke:url(#SVGID_ic3-2_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_2_st4{fill:none;stroke:url(#SVGID_ic3-2_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_2_st5{fill:none;stroke:url(#SVGID_ic3-2_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_2_st6{fill:none;stroke:url(#SVGID_ic3-2_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_2_st7{fill:none;stroke:url(#SVGID_ic3-2_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_2_st8{opacity:0.29;fill:url(#SVGID_ic3-2_);}
.icon_3_2_st9{opacity:0.29;fill:url(#SVGID_ic3-2_);}
.icon_3_2_st10{fill:none;stroke:url(#SVGID_ic3-2_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_2_st11{fill:none;stroke:url(#SVGID_ic3-2_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_2_st12{fill:none;stroke:url(#SVGID_ic3-2_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_2_st13{fill:none;stroke:url(#SVGID_ic3-2_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_2_st14{fill:none;stroke:url(#SVGID_ic3-2_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_2_st15{fill:none;stroke:url(#SVGID_ic3-2_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_2_st16{fill:none;stroke:url(#SVGID_ic3-2_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

.icon_3_2_st3, .icon_3_2_st11, .icon_3_2_st16, .icon_3_2_st15, .icon_3_2_st7, .icon_3_2_st5, .icon_3_2_st4, .icon_3_2_st6{ transition: all 1s 0.8s ease-in-out;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;}
.icon_3_2_st2, .icon_3_2_st10, .icon_3_2_st14, .icon_3_2_st12{transition: all 1.2s 0.8s ease-in-out;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;}

.icon_3_2_st13{transition: all 1.5s 0.8s ease-in-out;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;}

.ic_3_2_inn_op{opacity:0;transition: all 1s 0.8s ease-in-out;}

.icon_3_2_st1{ transform-origin: center center;transform: scale3d(0, 0, 0);}
#kr{ transform-origin: center center;transform: scale3d(0, 0, 0);}


#ic_2_1.active #icon_3_2 #ic_3_2_inn{stroke-dashoffset: 0;}
#ic_2_1.active #icon_3_2 .icon_3_2_st1{  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}
#ic_2_1.active #icon_3_2 #kr{  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}

#ic_2_1.active #icon_3_2 .ic_3_2_inn_op{opacity: 0.3;}

/* icon 3_2 end */

/* icon 3_3 */
#icons_3{    width: 125px;
  height: 125px;
  position: absolute;
  top: 56%;
  left: 44%;}

#icon_3_txt{
  font-size: 16px;
  color: #0b5a6d;
  position: absolute;
  top: 50%;
  left: -30%;
  z-index: -1;
}
#icon_3_txt_inn{opacity: 0;}
.icon_3_3_st0{filter:url(#Filter_2);}
.icon_3_3_st1{fill:#FFFFFF;}
.icon_3_3_st2{fill:none;stroke:url(#SVGID_ic3-3_);stroke-width:1.578;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_3_st3{fill:none;stroke:url(#SVGID_ic3-3_);stroke-width:1.578;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_3_st4{fill:none;stroke:url(#SVGID_ic3-3_);stroke-width:1.578;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_3_st5{fill:none;stroke:url(#SVGID_ic3-3_);stroke-width:1.578;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_3_st6{fill:none;stroke:url(#SVGID_ic3-3_);stroke-width:1.578;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_3_st7{fill:none;stroke:url(#SVGID_ic3-3_);stroke-width:1.578;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_3_st8{fill:none;stroke:url(#SVGID_ic3-3_);stroke-width:1.578;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_3_st9{fill:none;stroke:url(#SVGID_ic3-3_);stroke-width:1.578;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_3_st10{fill:none;stroke:url(#SVGID_ic3-3_);stroke-width:1.578;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_3_st11{fill:none;stroke:url(#SVGID_ic3-3_);stroke-width:1.578;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_3_st12{fill:none;stroke:url(#SVGID_ic3-3_);stroke-width:1.578;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_3_st13{fill:none;stroke:url(#SVGID_ic3-3_);stroke-width:1.578;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_3_st14{fill:none;stroke:url(#SVGID_ic3-3_);stroke-width:1.578;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_3_st15{fill:none;stroke:url(#SVGID_ic3-3_);stroke-width:1.578;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_3_st16{fill:none;stroke:url(#SVGID_ic3-3_);stroke-width:1.578;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_3_st17{fill:none;stroke:url(#SVGID_ic3-3_);stroke-width:1.578;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_3_st18{opacity:0.29;fill:url(#SVGID_ic3-3_);}

.icon_3_3_st16, .icon_3_3_st12, .icon_3_3_st14{  transition: all 1s 0.5s ease-in-out;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;}
.icon_3_3_st13, .icon_3_3_st15, .icon_3_3_st17{  transition: all 1s 1s ease-in-out;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;}
.icon_3_3_st2{ transition: all 2s ease-in-out;
  stroke-dasharray: 250;
  stroke-dashoffset: 250;}
.icon_3_3_st3{transition: all 1.7s ease-in-out;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;}

.icon_3_3_st18{opacity:0; transition: all 1s 0.5s ease-in-out;}
.icon_3_3_st4, .icon_3_3_st5, .icon_3_3_st6, .icon_3_3_st7, .icon_3_3_st8, .icon_3_3_st9, .icon_3_3_st10, .icon_3_3_st11{ transition: all 1s 0.5s ease-in-out;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;}

.ic_3_3_inn_op{opacity:0;transition: all 1s 0.8s ease-in-out;}

.icon_3_3_st0{ transform-origin: center center;transform: scale3d(0, 0, 0);}
#ic_3kv{ transform-origin: center center;transform: scale3d(0, 0, 0);}


#ic_3_1.active #icon_3_3 #ic_3_3_inn{stroke-dashoffset: 0;}
#ic_3_1.active #icon_3_3 .icon_3_3_st0{  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}
#ic_3_1.active #icon_3_3 #ic_3kv{  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}

#ic_3_1.active #icon_3_3 .ic_3_3_inn_op{opacity: 0.3;}



/* icon 3_3 end */


/* icon 3_4 */
#icons_4{    width: 155px;
  height: 125px;
  position: absolute;
  top: 49%;
  left: 63%;}
#icon_4_txt{
  font-size: 16px;
  color: #0b5a6d;
  position: absolute;
  top: 45%;
  right: -100%;
  z-index: -1;
  text-align: left;
}
#icon_4_txt_inn{opacity: 0;}

.icon_3_4_st0{filter:url(#Filter_3);}
.icon_3_4_st1{fill:#FFFFFF;}
.icon_3_4_st2{fill:none;stroke:url(#SVGID_ic3-4_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_4_st3{fill:none;stroke:url(#SVGID_ic3-4_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_4_st4{fill:none;stroke:url(#SVGID_ic3-4_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_4_st5{fill:none;stroke:url(#SVGID_ic3-4_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_4_st6{fill:none;stroke:url(#SVGID_ic3-4_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_4_st7{fill:none;stroke:url(#SVGID_ic3-4_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_4_st8{fill:none;stroke:url(#SVGID_ic3-4_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_4_st9{fill:none;stroke:url(#SVGID_ic3-4_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_4_st10{fill:none;stroke:#F8AC8B;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_4_st11{fill:none;stroke:url(#SVGID_ic3-4_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_4_st12{fill:none;stroke:url(#SVGID_ic3-4_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_4_st13{fill:none;stroke:url(#SVGID_ic3-4_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_4_st14{fill:none;stroke:url(#SVGID_ic3-4_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_4_st15{opacity:0.29;fill:url(#SVGID_ic3-4_);}
.icon_3_4_st16{opacity:0.29;fill:url(#SVGID_ic3-4_);}
.icon_3_4_st17{opacity:0.29;fill:url(#SVGID_ic3-4_);}

.icon_3_4_st15, .icon_3_4_st16, .icon_3_4_st17{opacity:0; transition: all 1s 0.8s ease-in-out;}
.icon_3_4_st7, .icon_3_4_st4, .icon_3_4_st12, .icon_3_4_st13{ transition: all 1s 0.8s ease-in-out;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;}
.icon_3_4_st3, .icon_3_4_st2, .icon_3_4_st8, .icon_3_4_st9, .icon_3_4_st11{ transition: all 1.5s 0.8s ease-in-out;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;}
.icon_3_4_st6, .icon_3_4_st8, .icon_3_4_st5, .icon_3_4_st14{ transition: all 1.2s 0.8s ease-in-out;
  stroke-dasharray: 100;
  stroke-dashoffset: 100}

.ic_3_4_inn_op{opacity:0;transition: all 1s 1.5s ease-in-out;}

.icon_3_4_st0{ transform-origin: center center;transform: scale3d(0, 0, 0);}
#gr3{ transform-origin: center center;transform: scale3d(0, 0, 0);}


#ic_4_1.active #icon_3_4 #ic_3_4_inn{stroke-dashoffset: 0;}
#ic_4_1.active #icon_3_4 .icon_3_4_st0{  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}
#ic_4_1.active #icon_3_4 #gr3{  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}

#ic_4_1.active #icon_3_4 .ic_3_4_inn_op{opacity: 0.3;}


/* icon 3_4 end */

/* icon 3_5 */
#icons_5{    width: 140px;
  height: 125px;
  position: absolute;
  top: 80%;
  left: 43%;}
#icon_5_txt{
  font-size: 16px;
  color: #0b5a6d;
  position: absolute;
  top: 34%;
  left: -100%;
  text-align: right;
}
#icon_5_txt_inn{opacity: 0;}
.icon_3_5_st0{filter:url(#Filter_4);}
.icon_3_5_st1{fill:#FFFFFF;}
.icon_3_5_st2{fill:none;stroke:url(#SVGID_ic3-5_);stroke-width:1.7166;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_5_st3{fill:none;stroke:url(#SVGID_ic3-5_);stroke-width:1.7166;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_5_st4{fill:none;stroke:url(#SVGID_ic3-5_);stroke-width:1.7166;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_5_st5{fill:none;stroke:url(#SVGID_ic3-5_);stroke-width:1.7166;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_5_st6{fill:none;stroke:url(#SVGID_ic3-5_);stroke-width:1.7166;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_5_st7{fill:none;stroke:url(#SVGID_ic3-5_);stroke-width:1.7166;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_5_st8{fill:none;stroke:url(#SVGID_ic3-5_);stroke-width:1.7166;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_5_st9{opacity:0.29;fill:url(#SVGID_ic3-5_);}

.icon_3_5_st9{opacity:0; transition: all 1s ease-in-out;}
.icon_3_5_st3, .icon_3_5_st7, .icon_3_5_st8, .icon_3_5_st5, .icon_3_5_st4{transition: all 1s 0.8s ease-in-out;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;}
.icon_3_5_st6{    transition: all 1.7s 0.8s ease-in-out;
  stroke-dasharray: 250;
  stroke-dashoffset: 250;}
.icon_3_5_st2{    transition: all 1.2s 0.8s ease-in-out;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;}

.ic_3_5_inn_op{opacity:0;transition: all 1s 0.8s ease-in-out;}

.icon_3_5_st0{ transform-origin: center center;transform: scale3d(0, 0, 0);}
#gr5{ transform-origin: center center;transform: scale3d(0, 0, 0);}


#ic_5_1.active #ic_3_5_inn{stroke-dashoffset: 0;}
#ic_5_1.active .icon_3_5_st0{  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}
#ic_5_1.active #gr5{  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}

#ic_5_1.active .ic_3_5_inn_op{opacity: 0.3;}

/* icon 3_5 end */

/* icon 3_6 */
#icons_6{    width: 155px;
  height: 125px;
  position: absolute;
  top: 70%;
  left: 63%;}
#icon_6_txt{
  font-size: 16px;
  color: #0b5a6d;
  position: absolute;
  top: 40%;
  right: -125%;
  z-index: -1;
  text-align: left;
}
#icon_6_txt_inn{opacity: 0;}
.icon_3_6_st0{filter:url(#Filter_5);}
.icon_3_6_st1{fill:#FFFFFF;}
.icon_3_6_st2{opacity:0.29;fill:url(#SVGID_22_);}
.icon_3_6_st3{opacity:0.29;fill:url(#SVGID_22_);}
.icon_3_6_st4{opacity:0.29;fill:url(#SVGID_22_);}
.icon_3_6_st5{opacity:0.29;fill:url(#SVGID_22_);}
.icon_3_6_st6{opacity:0.29;fill:url(#SVGID_22_);}
.icon_3_6_st7{fill:url(#SVGID_22_);}
.icon_3_6_st8{fill:url(#SVGID_22_);}
.icon_3_6_st9{fill:url(#SVGID_22_);}
.icon_3_6_st10{fill:url(#SVGID_22_);}
.icon_3_6_st11{fill:url(#SVGID_22_);}
.icon_3_6_st12{fill:url(#SVGID_22_);}
.icon_3_6_st13{fill:url(#SVGID_22_);}
.icon_3_6_st14{fill:url(#SVGID_22_);}
.icon_3_6_st15{fill:none;stroke:url(#SVGID_22_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st16{fill:none;stroke:url(#SVGID_22_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st17{fill:none;stroke:url(#SVGID_22_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st18{fill:none;stroke:url(#SVGID_22_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st19{fill:none;stroke:url(#SVGID_22_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st20{fill:none;stroke:url(#SVGID_22_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st21{fill:none;stroke:url(#SVGID_22_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st22{fill:none;stroke:url(#SVGID_22_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st23{fill:none;stroke:url(#SVGID_22_);stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st24{fill:none;stroke:url(#SVGID_22_);stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st25{fill:none;stroke:url(#SVGID_22_);stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st26{fill:none;stroke:url(#SVGID_22_);stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st27{fill:none;stroke:url(#SVGID_22_);stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st28{fill:none;stroke:url(#SVGID_22_);stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st29{fill:none;stroke:url(#SVGID_22_);stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st30{fill:none;stroke:url(#SVGID_22);stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st31{fill:none;stroke:url(#SVGID_22_);stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st32{fill:none;stroke:url(#SVGID_22_);stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st33{fill:none;stroke:url(#SVGID_22_);stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st34{fill:none;stroke:url(#SVGID_22_);stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st35{fill:none;stroke:url(#SVGID_22_);stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st36{fill:none;stroke:url(#SVGID_22_);stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st37{fill:none;stroke:url(#SVGID_22_);stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st38{fill:none;stroke:url(#SVGID_22_);stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st39{fill:none;stroke:url(#SVGID_22_);stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_3_6_st40{fill:none;stroke:url(#SVGID_22_);stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}


.icon_3_6_st2, .icon_3_6_st6, .icon_3_6_st3, .icon_3_6_st4, .icon_3_6_st5{	opacity:0; transition: all 1s 1.8s ease-in-out;}
.icon_3_6_st7, .icon_3_6_st8, .icon_3_6_st9, .icon_3_6_st10, .icon_3_6_st11, .icon_3_6_st12, .icon_3_6_st13, .icon_3_6_st14{	opacity:0; transition: all 1s 1.8s ease-in-out;}

.icon_3_6_st22{transition: all 1.5s 0.8s ease-in-out;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;}
.icon_3_6_st23, .icon_3_6_st15{    transition: all 1.7s 0.8s ease-in-out;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;}

.icon_3_6_st32{    transition: all 1.1s 0.8s ease-in-out;
  stroke-dasharray: 120;
  stroke-dashoffset: 120;}

.icon_3_6_st17, .icon_3_6_st16, .icon_3_6_st18, .icon_3_6_st20, .icon_3_6_st21{    transition: all 1s 0.8s ease-in-out;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;}

.icon_3_6_st19{    transition: all 1.2s 0.8s ease-in-out;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;}

.icon_3_6_st24, .icon_3_6_st25, .icon_3_6_st26, .icon_3_6_st27, .icon_3_6_st28, .icon_3_6_st29, .icon_3_6_st30, .icon_3_6_st31{    transition: all 1s 1.3s ease-in-out;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;}

.icon_3_6_st33, .icon_3_6_st34, .icon_3_6_st35, .icon_3_6_st36, .icon_3_6_st37, .icon_3_6_st38, .icon_3_6_st39, .icon_3_6_st40{    transition: all 1s 0.8s ease-in-out;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;}

.ic_3_6_inn_op{opacity:0;transition: all 1s 0.8s ease-in-out;}


.icon_3_6_st0{ transform-origin: center center;transform: scale3d(0, 0, 0);}
#gr6{ transform-origin: center center;transform: scale3d(0, 0, 0);}


#ic_6_1.active #ic_3_6_inn{stroke-dashoffset: 0;}
#ic_6_1.active .icon_3_6_st0{  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}
#ic_6_1.active #gr6{  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}

#ic_6_1.active .ic_3_6_inn_op{opacity: 0.3;}
#ic_6_1.active .ic_3_6_inn_op2{opacity: 1;}

/* icon 3_6 end */



/* block 3 */
#ftext_3{opacity: 0; margin-top: 50px;    position: absolute;
  left: 13%;}
#diraman2{    right: 15%;
  width: 254px;
  height: 240px;
  position: absolute;
  top: 45%;-moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
  -ms-filter: "FlipH";}
#dira2{width:254px;height:240px;position:absolute;}
#man2{width:180px;height:120px;position:absolute;top:80px;left:40px;transform:scale(0);}

#ftext_3 h1{text-transform: uppercase;
  background: -webkit-linear-gradient(left, #e43e43, #fb8d3a 33.3%, #ffffff 66.6%, #ffffff);
  background-size: 300% 100%;
  background-position: left 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  -webkit-transition: background 2.5s ease;
  transition: background 2.5s ease;
  width: 430px;position: absolute;
  display: block;
  top: 100px;    left: 14%;
  color: #fff;}

/* icon 4_1 */

#icons_21{    width: 125px;
  height: 125px;
  position: absolute;
  top: 40%;
  left: 15%;}
#icon_21_txt{
  font-size: 16px;
  color: #0b5a6d;
  position: absolute;
  top: 50%;
  left: -30%;
  z-index: -1;
  text-align: right;
}
#icon_21_txt_inn{opacity: 0;}
.icon_4_1_st_0{fill:#FFFFFF;}
.icon_4_1_st1{opacity:0.3;fill:url(#SVGID_10_);}
.icon_4_1_st2{opacity:0.3;fill:url(#SVGID_10_);}

.icon_4_1_st3{fill:none;stroke:url(#SVGID_10_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_4_1_st4{fill:none;stroke:url(#SVGID_10_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

.icon_4_1_st1, .icon_4_1_st2{opacity:0; transition: all 1s 0.8s ease-in-out;}
.icon_4_1_st4{ transition: all 1.5s 0.8s ease-in-out;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;}
.icon_4_1_st3{ transition: all 1.3s 0.8s ease-in-out;
  stroke-dasharray: 120;
  stroke-dashoffset: 120}

#triang_41{
  position: absolute;
  left: 86px;
  top: 80px;
  z-index: -1; opacity: 0;}
#triang_41 .tri{position: absolute;
  left: 52px;
  top: 10px;    transform: rotate(85deg);}
#triang_41 .triline{}
.ic_4_1_inn_op{opacity:0;transition: all 1s 1.5s ease-in-out;}


.icon_4_1_st0{ transform-origin: center center;transform: scale3d(0, 0, 0);}
#gr4_1{ transform-origin: center center;transform: scale3d(0, 0, 0);}


#ic_41_1.active #icon_4_1 .ic_4_1_inn{stroke-dashoffset: 0;}
#ic_41_1.active #icon_4_1 .icon_4_1_st0{  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}
#ic_41_1.active #icon_4_1 #gr4_1{  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}

#ic_41_1.active #icon_4_1 .ic_4_1_inn_op{opacity: 0.3;}

/* icon 4_1 end */
/* icon 4_2 */
#icons_22{       width: 150px;
  height: 125px;
  position: absolute;
  top: 65%;
  left: 10%;}
#icon_22_txt{
  font-size: 16px;
  color: #0b5a6d;
  position: absolute;
  top: 50%;
  left: -17%;
  z-index: -1;
  text-align: left;
}
#icon_22_txt_inn{opacity: 0;}

.icon_4_2_st1{fill:#FFFFFF;}
.icon_4_2_st5{opacity:0.3;fill:url(#SVGID_11_);}
.icon_4_2_st2, .icon_4_2_st3, .icon_4_2_st4{fill:none;stroke:url(#SVGID_11_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}


.icon_4_2_st5{opacity:0; transition: all 1s 0.8s ease-in-out;}
.icon_4_2_st3{  transition: all 1.5s 0.8s ease-in-out;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;}

#triang_42{
  position: absolute;
  left: 86px;
  top: 80px;
  z-index: -1; opacity: 0;    transform: rotate(30deg);}
#triang_42 .tri{position: absolute;
  left: 45px;
  top: 7px;}
#triang_42 .triline{}
.icon_4_2_st4, .icon_4_2_st2{
  transition: all 1s 0.8s ease-in-out;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
}

.ic_4_2_inn_op{opacity:0;transition: all 1s 1.5s ease-in-out;}


.icon_4_2_st0{ transform-origin: center center;transform: scale3d(0, 0, 0);}
#gr4_2{ transform-origin: center center;transform: scale3d(0, 0, 0);}


#ic_41_2.active #icon_4_2 .ic_4_2_inn{stroke-dashoffset: 0;}
#ic_41_2.active #icon_4_2 .icon_4_2_st0{  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}
#ic_41_2.active #icon_4_2 #gr4_2{  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}

#ic_41_2.active #icon_4_2 .ic_4_2_inn_op{opacity: 0.3;}
/* icon 4_2 end */

/* icon 4_3 */
#icons_23{    width: 125px;
  height: 125px;
  position: absolute;
  top: 30%;
  right: 35%;}

#icon_23_txt{
  font-size: 16px;
  color: #0b5a6d;
  position: absolute;
  top: 50%;
  right: -20%;
  z-index: -1;
}
#icon_23_txt_inn{opacity: 0;}

.icon_4_3_st0{}
.icon_4_3_st1{fill:#FFFFFF;}
.icon_4_3_st2{fill:none;stroke:url(#SVGID_12_);stroke-width:1.2053;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_4_3_st3, .icon_4_3_st4, .icon_4_3_st5, .icon_4_3_st6, .icon_4_3_st7{fill:none;stroke:url(#SVGID_12_);stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_4_3_st8, .icon_4_3_st9{opacity:0.3;fill:url(#SVGID_12_);}

#triang_43{
  position: absolute;
  right: 86px;
  bottom: 80px;
  z-index: -1; opacity: 0;}
#triang_43 .tri{position: absolute;
  left: -75px;
  top: -68px;}
#triang_43 .triline{}


.icon_4_3_st8{opacity:0; transition: all 1s 0.8s ease-in-out;}
.icon_4_3_st3, .icon_4_3_st4{  transition: all 1.5s 0.8s ease-in-out;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;}
.icon_4_3_st6{
  transition: all 1.2s 0.8s ease-in-out;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}
.icon_4_3_st7{
  transition: all 1.4s 0.8s ease-in-out;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
}

.icon_4_3_st2, .icon_4_3_st5{
  transition: all 1s 0.8s ease-in-out;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
}

.ic_4_3_inn_op{opacity:0;transition: all 1s 1.5s ease-in-out;}


.icon_4_3_st0{ transform-origin: center center;transform: scale3d(0, 0, 0);}
#gr4_3{ transform-origin: center center;transform: scale3d(0, 0, 0);}


#ic_41_3.active #icon_4_3 .ic_4_3_inn{stroke-dashoffset: 0;}
#ic_41_3.active #icon_4_3 .icon_4_3_st0{  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}
#ic_41_3.active #icon_4_3 #gr4_3{  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}

#ic_41_3.active #icon_4_3 .ic_4_3_inn_op{opacity: 0.3;}

/* icon 4_3  end*/
/* icon 4_4  */
#icons_24{    width: 140px;
  height: 125px;
  position: absolute;
  top: 50%;
  right: 44%;}

#icon_24_txt{
  font-size: 16px;
  color: #0b5a6d;
  position: absolute;
  top: 50%;
  right: -45%;
  z-index: -1;
}
#icon_24_txt_inn{opacity: 0;}
.icon_4_4_st0{fill:#ffffff;}
.icon_4_4_st2{opacity:0.3;fill:url(#SVGID_13_);}
.st1{fill:none;stroke:url(#SVGID_13_);stroke-width:1.9019;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_4_4_st3, .icon_4_4_st4{fill:none;stroke:url(#SVGID_13_);stroke-width:1.9019;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#triang_44{
  position: absolute;
  right: 71px;
  bottom: 45px;
  z-index: -1; opacity: 0;}
#triang_44 .tri{position: absolute;    transform: rotate(45deg);
  left: -75px;
  top: -68px;}
#triang_44 .triline{}

.icon_4_4_st2{opacity:0; transition: all 1s 0.8s ease-in-out;}
.icon_4_4_st3{
  transition: all 1s 0.8s ease-in-out;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
}
.icon_4_4_st4{
  transition: all 1.4s 0.8s ease-in-out;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;}


.ic_4_4_inn_op{opacity:0;transition: all 1s 1.5s ease-in-out;}


.icon_4_4_st0{ transform-origin: center center;transform: scale3d(0, 0, 0);}
#gr4_4{ transform-origin: center center;transform: scale3d(0, 0, 0);}


#ic_41_4.active #icon_4_4 .ic_4_4_inn{stroke-dashoffset: 0;}
#ic_41_4.active #icon_4_4  .icon_4_4_st0{  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}
#ic_41_4.active #icon_4_4  #gr4_4{  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}

#ic_41_4.active #icon_4_4 .ic_4_4_inn_op{opacity: 0.3;}

/* icon 4_4  end*/
/* icon 4_5  */
#icons_25{    width: 125px;
  height: 125px;
  position: absolute;
  top: 68%;
  right: 52%;
;}

#icon_25_txt{
  font-size: 16px;
  color: #0b5a6d;
  position: absolute;
  top: 50%;
  right: -25%;
  z-index: -1;
}
#icon_25_txt_inn{opacity: 0;}
.icon_4_5_st0{opacity:0.3;fill:url(#SVGID_14_);}
.icon_4_5_st1{}
.icon_4_5_st2{fill:#FFFFFF;}
.icon_4_5_st3{fill:none;stroke:url(#SVGID_14_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_4_5_st4{fill:none;stroke:url(#SVGID_14_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icon_4_5_st5{fill:#FFFFFF;}

#triang_45{
  position: absolute;
  right: 71px;
  bottom: 45px;
  z-index: -1; opacity: 0;}
#triang_45 .tri{position: absolute;    transform: rotate(45deg);
  left: -75px;
  top: -68px;}
#triang_45 .triline{}


.icon_4_5_st0{opacity:0; transition: all 1s 0.8s ease-in-out;}
.icon_4_5_st3, .icon_4_5_st4{
  transition: all 1s 0.8s ease-in-out;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
}
.icon_4_5_st4{
  transition: all 1.4s 0.8s ease-in-out;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;}


.ic_4_5_inn_op{opacity:0;transition: all 1s 1.5s ease-in-out;}


.icon_4_5_st1{ transform-origin: center center;transform: scale3d(0, 0, 0);}
#gr4_5{ transform-origin: center center;transform: scale3d(0, 0, 0);}


#ic_41_5.active #icon_4_5 .ic_4_5_inn{stroke-dashoffset: 0;}
#ic_41_5.active #icon_4_5 .icon_4_5_st1{  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}
#ic_41_5.active #icon_4_5 #gr4_5{  animation-name: bounceIn;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;}

#ic_41_5.active #icon_4_5 .ic_4_5_inn_op{opacity: 0.3;}
/* icon 4_5  end*/


/* block 3 end */


/* block 4 */

#sec4_half{height: 100%;
  width: 100%;
  z-index: -1;
  top: 0%;    left: 0;}

#ftext_4{opacity: 0; margin-top: 50px;    position: absolute;      left: 22%;
  top: 44%;}

#ftext_4 h1{text-transform: uppercase;
  background: -webkit-linear-gradient(left, #3ee6a4, #3edece 33.3%, #ffffff 66.6%, #ffffff);
  background-size: 300% 100%;
  background-position: left 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  -webkit-transition: background 2.5s ease;
  transition: background 2.5s ease;
  width: 430px;position: absolute;
  display: block;
  top: 0px;    left: 14%;
  color: #fff;}


#diraman3{top: 15%;
  position: absolute;
  left: 10%;}
#dira3{    width: 207px;
  height: 240px;
  position: absolute;
  top: 60px;
  left: 34px;}
#dir3_big{transform:scale(0); transform-origin: center;}
#dir3_med{transform:scale(0);transform-origin: center;}
#dir3_small{transform:scale(0);transform-origin: center;}

#dira4{width:254px;height:240px;position:absolute;-moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
  -ms-filter: "FlipH";}
#dir4_big{transform:scale(0); transform-origin: center;}
#dir4_med{transform:scale(0);transform-origin: center;}
#dir4_small{transform:scale(0);transform-origin: center;}


#dira5{    width: 187px;
  height: 240px;
  position: absolute;
  top: 70px;
  left: 34px;-moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
  -ms-filter: "FlipH";}
#dir5_big{transform:scale(0); transform-origin: center;}
#dir5_med{transform:scale(0);transform-origin: center;}
#dir5_small{transform:scale(0);transform-origin: center;}


#man3{width:243px;height:145px;position:absolute;top:50px;left:40px;transform:scale(0);    transform-origin: 100px 100px 0;}


#man4{    width: 191px;
  height: 145px;
  position: absolute;
  top: 30px;left:40px;transform:scale(0);    transform-origin: 100px 70px 0;}
#diraman4 {
  top: 40%;
  position: absolute;
  right: 25%;
}

#man5{width:190px;height:145px;position:absolute;top:50px;left:40px;transform:scale(0);    transform-origin: 100px 100px 0;}
#diraman5{     position: absolute;
  left: 22%;
  top: 66%;}


.mn3st0{fill:none;stroke:#23B993;stroke-width:18;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.mn3st1{fill:#23B993;}
.mn3st2{fill:#20A886;}
.mn3st3{fill:url(#SVGID_mn31_);}
.mn3st4{fill:url(#SVGID_mn32_);}
.mn3st5{fill:url(#SVGID_mn33_);}
.mn3st6{fill:url(#SVGID_mn34_);}
.mn3st7{fill:url(#SVGID_mn35_);}
.mn3st8{fill:#FCD5B1;}
.mn3st9{fill:url(#SVGID_mn36_);}
.mn3st10{fill:url(#SVGID_mn37_);}

.dir3st0{filter:url(#Filter_02);}
.dir3st1{fill:#608DC3;}
.dir3st2{filter:url(#Filter_01);}
.dir3st3{fill:#0087A6;}
.dir3st4{filter:url(#Filter_03);}
.dir3st5{fill:#006880;}

.m4_st0{fill:none;stroke:#23B993;stroke-width:18;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.m4_st1{fill:url(#SVGID_m4_1_);}
.m4_st2{fill:#FCCEA4;}
.m4_st3{fill:url(#SVGID_m4_2_);}
.m4_st4{fill:url(#SVGID_m4_3_);}
.m4_st5{fill:#FFFFFF;}
.m4_st6{fill:url(#SVGID_m4_4_);}
.m4_st7{fill:#F7A805;}
.m4_st8{fill:#F7D305;}
.m4_st9{fill:#765553;}
.m4_st10{fill:#FCD5B1;}
.m4_st11{fill:#23B993;}
.m4_st12{fill:#20A886;}
.m4_st13{fill:url(#SVGID_m4_5_);}
.m4_st14{fill:url(#SVGID_m4_6_);}
.m4_st15{fill:url(#SVGID_m4_7_);}


.stm50{fill:none;stroke:#23B993;stroke-width:18;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.stm51{fill:#FCD5B1;}
.stm52{fill:url(#SVGID_m5_1_);}
.stm53{fill:url(#SVGID_m5_2_);}
.stm54{fill:#E9E9E9;}
.stm55{fill:#1F9446;}
.stm56{fill:#FFFFFF;stroke:#1F9446;stroke-width:0.25;stroke-miterlimit:10;}
.stm57{fill:#BAD7E5;}
.stm58{fill:#FCCEA4;}
.stm59{fill:#23B993;}
.stm510{fill:#20A886;}
.stm511{fill:url(#SVGID_m5_3_);}
.stm512{fill:url(#SVGID_m5_4_);}
.stm513{fill:url(#SVGID_m5_5_);}

#head5{    transform-origin: 90px 45px 0px;}
#allhand5{    transform-origin: center;

}

#lefthand3{
  transform-origin: 50px 69px 0px;
}

#righthand3{
  transform-origin: 133px 99px 0px;
}

#shvabra{
  transform: translateX(0px);
}
#shv_inn{
  transform-origin: 193px 133px 0px;

}

#head3{
  transform-origin: 99px 50px 0px;
}

#head4{    transform-origin: 90px 54px 0px;
}

#allhand4{
  transform-origin: center;
}

.triang2{    position: absolute;    z-index: 10;}
.thd{    font-size: 25px;
  color: #2f508c;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;}
.thdop{    font-size: 16px;
  color: #0b5a6d;}

#h4ic1{    width: 270px;opacity: 0;
  height: 100px;
  position: absolute;
  top: 12%;
  left: 38%;}
#h4ic1 .triang2{
  left: -190px;
  top: 56px;
}
#h4ic1 .line {
  position: absolute;
  left: -175px;
  top: 25px;
}
#h4ic2{
  width: 270px;opacity: 0;
  height: 100px;
  position: absolute;
  top: 24%;
  right: 31%;
}
#h4ic2 .triang2{
  left: -302px;
  top: 31px;
  transform: rotateZ(23deg);
}
#h4ic2 .line{
  position: absolute;
  left: -240px;
  top: 25px;
}
#h4ic3{
  width: 270px;opacity: 0;
  height: 100px;
  position: absolute;
  top: 63%;
  left: 44%;
}
#h4ic3 .triang2{
  left: 236px;
  top: -47px;
  transform: rotateZ(59deg);
}
#h4ic3 .line{
  position: absolute;
  left: 97px;
  top: -37px;
}

#h4ic4{
  width: 270px;opacity: 0;
  height: 100px;
  position: absolute;
  bottom: 19%;
  right: 19%;
}
#h4ic4 .triang2{
  left: -184px;
  top: -7px;
  transform: rotateZ(78deg);
}
#h4ic4 .line{
  position: absolute;
  left: -117px;
  top: 21px;
}


#ftext_4h{opacity: 0; margin-top: 50px;    position: absolute;   left: 15%;
  top: 18%;}

#ftext_4h h1{text-transform: uppercase;
  background: -webkit-linear-gradient(left, #3ee6a4, #3edece 33.3%, #ffffff 66.6%, #ffffff);
  background-size: 300% 100%;
  background-position: left 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  -webkit-transition: background 2.5s ease;
  transition: background 2.5s ease;
  width: 430px;position: absolute;
  display: block;
  top: 0px;    left: 14%;
  color: #fff;}
#sec4_half_2{
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0%;
  left: 0;
}

/* man_6 */
.mn6st0{fill:url(#SVGIDmn6_1_);}
.mn6st1{fill:none;stroke:#23B993;stroke-width:18;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.mn6st2{fill:#FCD5B1;}
.mn6st3{fill:url(#SVGIDmn6_2_);}
.mn6st4{fill:url(#SVGIDmn6_3_);}
.mn6st5{fill:url(#SVGIDmn6_4_);}
.mn6st6{fill:url(#SVGIDmn6_5_);}
.mn6st7{fill:#FFFFFF;}
.mn6st8{fill:#23B993;}
.mn6st9{fill:#20A886;}
.mn6st10{fill:url(#SVGIDmn6_6_);}
.mn6st11{fill:url(#SVGIDmn6_7_);}
.mn6st12{fill:url(#SVGIDmn6_8_);}


#dira6{    width: 187px;
  height: 240px;
  position: absolute;
  top: 70px;
  left: 34px;-moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
  -ms-filter: "FlipH";}
#dir6_big{transform:scale(0); transform-origin: center;}
#dir6_med{transform:scale(0);transform-origin: center;}
#dir6_small{transform:scale(0);transform-origin: center;}

#man6{width:190px;height:145px;position:absolute;top:50px;left:40px;transform:scale(0);    transform-origin: 100px 100px 0;

}
#diraman6{ position: absolute;     right: 22%;
  top: 32%;-moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
  -ms-filter: "FlipH";}


#head6{     transform-origin: 80px 60px 0px;

}
#allhand6{    transform-origin: center;

}

/* man_6 end */


#h4fic1{    width: 270px;opacity: 0;
  height: 100px;
  position: absolute;
  top: 55%;
  left: 20%;}
#h4fic1 .triang2{
  left: 410px;
  top: 52px;
}
#h4fic1 .line {
  position: absolute;
  left: 175px;
  top: 25px;
}
#h4fic2{
  width: 270px;opacity: 0;
  height: 100px;
  position: absolute;
  top: 24%;
  right: 27%;
}
#h4fic2 .triang2{
  left: -310px;
  top: 31px;
  transform: rotateZ(91deg);
}
#h4fic2 .line{
  position: absolute;
  left: -240px;
  top: 25px;
}
#h4fic3{
  width: 270px;opacity: 0;
  height: 100px;
  position: absolute;
  top: 66%;
  right: 24%;
}
#h4fic3 .triang2{
  left: -283px;
  top: 63px;
  transform: rotateZ(66deg);
}
#h4fic3 .line{
  position: absolute;
  left: -217px;
  top: 17px;
}




/* block 4 end */




@import 'common/_preloader';
@import 'common/header';




